<th:block th:include="include/header" />
<script src="/js/theater.js"></script>
<div id="theaterWrap">
	<div id="cardSection" style="overflow: hidden;">
	</div>
	<div id="arcodianSection">

		<button onclick="theaterOpen('play2020')" class="w3-button w3-block w3-section w3-blue-grey w3-left-align">2020</button>
		<div id="play2020" class="w3-show w3-container">
			<div id="playList2020"></div>
		</div>

		<button onclick="theaterOpen('play2019')" class="w3-button w3-block w3-section w3-blue-grey w3-left-align">2019</button>
		<div id="play2019" class="w3-hide w3-container">
			<div id="playList2019"></div>
		</div>
		
		<button onclick="theaterOpen('play2018')" class="w3-button w3-block w3-section w3-blue-grey w3-left-align">2018</button>
		<div id="play2018" class="w3-hide w3-container">
			<div id="playList2018"></div>
		</div>
		
		<button onclick="theaterOpen('play2017')" class="w3-button w3-block w3-section w3-blue-grey w3-left-align">2017</button>
		<div id="play2017" class="w3-hide w3-container">
			<div id="playList2017"></div>
		</div>
		
		<button onclick="theaterOpen('play2016')" class="w3-button w3-block w3-section w3-blue-grey w3-left-align">2016</button>
		<div id="play2016" class="w3-hide w3-container">
			<div id="playList2016"></div>
		</div>

	</div>

</div>

<th:block th:include="include/footer" />
