<th:block th:include="include/header" />
<style>
.portfolio {
	width: 800px;
	height: 500px;
	background-color: white;
	overflow: hidden;
}

.portImg {
	width: 500px;
	height: 100%;
	float: left;
}

.portText {
	float: left;
	padding-left: 10px;
}
</style>

<div class="w3-margin-left">
	<div class="developer"></div>
	<div class="w3-bottombar">
		<p class="w3-large">
			<b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b>
		</p>
		<p style="background-color: gray; color: white;">FRONT-END</p>
		<img src="/image/dev/html5.png" style="width: 200px;"> <img
			src="/image/dev/jquery-logo.png" style="width: 100px;">
		<p style="background-color: gray; color: white;">BACK-END</p>
		<img src="/image/dev/java8-logo.png" style="width: 100px;"> <img
			src="/image/dev/Python-logo.png" style="width: 100px;">
		<p style="background-color: gray; color: white;">DATABASE</p>
		<img src="/image/dev/oracle_logo.png" style="width: 100px;"> <img
			src="/image/dev/mysql.png" style="width: 100px;">
		<p style="background-color: gray; color: white;">FRAMEWORK</p>
		<img src="/image/dev/spring.png" style="width: 150px;"> <img
			src="/image/dev/mybatis.jpg" style="width: 100px;"> <img
			src="/image/dev/jpa.jpg" style="width: 100px;">
		<p style="background-color: gray; color: white;">TOOL</p>
		<img src="/image/dev/gitgithub.png" style="width: 200px;"> <img
			src="/image/dev/aws.png" style="width: 100px;"> <img
			src="/image/dev/tomcat.png" style="width: 100px;"> <br> <br>

	</div>
	<div>
		<p class="w3-large">
			<b><i class="fa fa-suitcase fa-fw w3-margin-right w3-text-teal"></i>Project</b>
		</p>
		<div class="project">
			<h3>2020.09.04. 우리동네 대여 서비스, 망치!(Spring Framework)</h3>
			<iframe width="560" height="315"
				src="https://www.youtube.com/embed/cGLkgmrStek" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
			<div class="portfolio">
				<img class="portImg" src="/image/dev/portfolio/메인_망치(spring).JPG">
				<div class="portText">
					<button class="w3-button w3-border w3-border-blue w3-round-large"
						onclick="location.href='https://github.com/maiorem/Mangchi_Final'">Source</button>
				</div>
			</div>
		</div>
		<br>
		<div class="project">
			<h3>2020.07.20. 우리동네 대여 서비스, 망치!(JSP)</h3>
			<div class="portfolio">
				<img class="portImg" src="/image/dev/portfolio/mangch-jsp.png">
				<div class="portText">
					<button class="w3-button w3-border w3-border-blue w3-round-large"
						onclick="location.href='https://github.com/maiorem/AIA-Mangchi'">Source</button>
				</div>
			</div>
		</div>
		<br>
		<div class="project">
			<h3>2020.06.24. 푸드코트 키오스크 UI/UX 프로젝트</h3>

			<div class="portfolio">
				<img class="portImg" src="/image/dev/portfolio/메인_푸드코트.JPG">
				<div class="portText">
					<button class="w3-button w3-border w3-border-blue w3-round-large"
						onclick="location.href='https://github.com/maiorem/Foodcourt'">Source</button>
				</div>
			</div>
		</div>
		<br>
		<div class="project">
			<h3>2020.05.24. 자바 콘솔 영화 예매 프로젝트 </h3>

			<div class="portfolio">
				<img class="portImg" src="/image/dev/portfolio/메인_비트박스.JPG">
				<div class="portText">
					<button class="w3-button w3-border w3-border-blue w3-round-large"
						onclick="location.href='https://github.com/maiorem/BitBox'">Source</button>
				</div>
			</div>
		</div>
	</div>

</div>



<th:block th:include="include/footer" />
