<th:block th:include="include/header" />
<script src="/js/study.js"></script>

<div class="w3-margin-left">

	<h2>기술 공부 자료실</h2>
	<hr>
	<form action="/blog" class="w3-container w3-card-4" >
		<select class="w3-select" name="option">
			<option value="" disabled selected>카테고리를 선택하세요</option>
   			<option value="Algorithm">Algorithm</option>
    		<option value="ComputerScience">CS</option>
    		<option value="Project">프로젝트 코드</option>
		</select>
	</form>
	 
	<div id="studySection">
		<table class="w3-table-all w3-hoverable">
	
		</table>
		<div id="pageSection"></div>
	</div>
	
</div>


<th:block th:include="include/footer" />
