<th:block th:include="include/header" />

<div class="w3-margin-left">
<div id="studyFormWrap">
	<div style="width: 60%; margin: auto;">
		<form id="regForm" onsubmit="return false">
			<input type="text" id="writer" name="writer" style="width: 20%;" value="${loginInfo.id}" readonly /><br> 
			<input type="text" id="title" name="title" style="width: 40%;" placeholder="제목" required /> <br> <br>
			<textarea id="summernote" name="content" required></textarea>
			<input type="file" name="doImg" id="doImg" style="display: block;">
			<input type="reset" style="float: right;" /> 
			<input type="submit"
				value="글 작성" style="float: right;" onclick="goStudyWrite()" />
		</form>
	</div>


</div>
</div>

<th:block th:include="include/footer" />